<template>
    <div class="qiu-toast fcc trantime"
        :class="{showbox:showing}">
        <div class="line fcc trantime"
            :class="{showline:showing}"
            v-text="msg"></div>
    </div>
</template>

<script>
export default {
	name: 'qiu-toast',
	props: {
		timeout: {
			// 切换时间
			type: Number,
			default: 2000,
		},
	},
	data() {
		return {
			showing: false, // 是否正在动画
			msg: '', // 文字
			list: [], // 要显示的列表
			timer: null, // 定时器队列显示
		}
	},
	methods: {
		append(msg) {
			// 加入队列
			if (typeof msg === 'string') {
				this.list.push(msg)
			} else {
				this.list.push(...msg)
			}
			if (!this.showing) {
				this.showOneByOne()
			}
			this.showing = true
		},
		showOneByOne() {
			// 用一个定时器来队列显示传入的文字
			const o = this.list.shift()
			this.msg = o
			let i = 0
			const isp = (this.timeout / 500) | 0
			this.timer = setInterval(() => {
				if (i % isp === isp - 1) {
					this.showing = true
					if (this.list.length > 0) {
						const o = this.list.shift()
						this.msg = o
					} else {
						this.showing = false
						clearInterval(this.timer)
						this.timer = null
						this.timeout = 2000
					}
				} else if (i % isp === isp - 2) {
					this.showing = false
				}
				i = (i + 1) % isp
			}, 500)
		},
	},
}
</script>

<style scoped>
.qiu-toast {
	z-index: -2333;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0);
	opacity: 0;
}
.showbox {
	z-index: 2333;
	opacity: 1;
}
.line {
	overflow: hidden;
	margin-bottom: 20vh;
	border: 2px solid goldenrod;
	border-width: 2px 0;
	width: 0;
	height: 100px;
	background-color: rgb(0, 0, 0);
	white-space: nowrap;
	line-height: 100px;
	font-size: 40px;
	color: white;
}
.showline {
	width: 100vw;
}
.fcc {
	display: flex;
	align-items: center;
	justify-content: center;
}
.trantime {
	transition: all 0.3s linear;
}
</style>