<template>
    <footer class="foot">
        <div class="box">
            <ul class="fcb">
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
            <div class="more">
                hezuosdfsdf
            </div>
        </div>
    </footer>
</template>

<script>
export default {
	name: 'c-foot',
	data() {
		return {}
	},
	created() {},
	methods: {},
}
</script>

<style scoped>
.foot {
	height: 380px;
	background-color: #f6f9fa;
}
.box {
	margin: 0 auto;
	width: 980px;
}
</style>