<template>
    <main class="box bili-w">
        <c-menu :list="menuList" />
        <c-vip />
        <c-popularize />
        <c-repeats />
        特别推荐

    </main>
</template>

<script>
import Cmenu from './Menu.vue'
export default {
	name: 'home',
	components: {
		'c-menu': Cmenu,
		'c-vip': f => {
			setTimeout(() => {
				require(['./Vip.vue'], f)
			}, 100)
		},
		'c-popularize': f => {
			setTimeout(() => {
				require(['./Popularize.vue'], f)
			}, 200)
		},
		'c-repeats': f => {
			setTimeout(() => {
				require(['./repeats/Index.vue'], f)
			}, 300)
		},
	},
	data() {
		return {
			// 这里应该是网络请求到的
			menuList: [
				{name: '动画', num: 233},
				{name: '番剧', num: 666},
				{name: '国创', num: 1},
				{name: '音乐', num: 2333},
				{name: '舞蹈', num: 2333},
				{name: '游戏', num: 2333},
				{name: '科技', num: 2333},
				{name: '生活', num: 2333},
				{name: '鬼畜', num: 2333},
				{name: '时尚', num: 2333},
				{name: '广告', num: 2333},
				{name: '娱乐', num: 2333},
				{name: '影视', num: 2333},
				{name: '放映厅', num: 2333},
			],
		}
	},
	created() {},
	methods: {},
}
</script>

<style scoped>
.box {
	margin: 0 auto;
}
</style>
