<template>
    <ul class="menus fcb">
        <li>
            <p class="li-top">
                <img class="img-logo"
                    :src="LOGO">
            </p>
            <p class="li-bott">首页</p>
        </li>
        <li v-for="v in __list"
            :key="v.name">
            <p class="num"
                v-text="v.num"></p>
            <p class="li-bott"
                v-text="v.name"></p>
        </li>
        <li v-for="v in list2"
            :key="v.name">
            <p class="li-top">
                <img class="img-logo"
                    :src="LOGO">
            </p>
            <p class="li-bott"
                v-text="v.name"></p>
        </li>
        <img :src="GIF">
    </ul>
</template>

<script>
import LOGO from '@/asset/logo.png'
import GIF from './img/gif.gif'
export default {
	name: 'menus',
	props: ['list'],
	data() {
		return {
			LOGO,
			GIF,
			__list: [],
			list2: [
				{name: '专栏', paht: ''},
				{name: '广场', paht: ''},
				{name: '直播', paht: ''},
				{name: '小黑屋', paht: ''},
			],
		}
	},
	created() {
		let l = []
		this.list.forEach(v => {
			const num = v.num > 999 ? '999+' : v.num
			l.push({
				name: v.name,
				num,
			})
		})
		this.__list = l
	},
	methods: {},
}
</script>

<style scoped>
.menus {
	margin: 10px 0;
	height: 40px;
	font-size: 12px;
	text-align: center;
}
.li-top {
	padding: 4px 0 0;
	height: 16px;
}
.li-bott {
	margin-top: 6px;
	height: 14px;
	line-height: 14px;
}
.num {
	border-radius: 2px;
	padding: 2px;
	height: 12px;
	background-color: #ffafc9;
	color: white;
	line-height: 12px;
}
.img-logo {
	height: 14px;
}
</style>