<template>
    <div class="popularize">
        <c-module title="推广"
            :img="LOGO">
            <ul slot="main">
                <li v-for="(v, i) in list"
                    :key="i"
                    class="videos bili-svideo">
                    <c-small-video :img="v.img"
                        :title2="v.title"
                        :time="v.time"
                        :txt="2333" />
                </li>
            </ul>
            <div class="right"
                slot="right">
                <div class="right-top fcb">
                    <span>在线人数:</span>
                    <span>2333</span>
                    <span>|</span>
                    <span>最新投稿:</span>
                    <span>666</span>
                </div>
                <div>
                    <img :src="imgVideo260">
                </div>
            </div>
        </c-module>
        <div class="img"
            :style="`background-image: url(${IMG})`">这里一张图</div>
    </div>
</template>

<script>
import Module from './comp/Module.vue'
import IMG from './img/guanggao.jpg'
import LOGO from '@/asset/logo.png'
import imgVideo0 from './img/@320w_200h_6.png'
import imgVideo1 from './img/@320w_200h_7.png'
import imgVideo2 from './img/@320w_200h_8.png'
import imgVideo3 from './img/@320w_200h_9.png'
import imgVideo260 from './img/@260.jpg'
export default {
	name: 'popularize',
	components: {
		'c-module': Module,
	},
	data() {
		return {
			IMG,
			LOGO,
			imgVideo260,
			list: [
				{
					img: imgVideo0,
					time: '5:23',
					title: '标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1',
				},
				{
					img: imgVideo1,
					time: '5:23',
					title: '标题12323',
				},
				{
					img: imgVideo2,
					time: '5:23',
					title: '标题12323',
				},
				{
					img: imgVideo3,
					time: '5:23',
					title: '标题12323',
				},
			],
		}
	},
	created() {},
	methods: {},
}
</script>

<style scoped>
.img {
	margin-top: 20px;
	height: 80px;
	background-size: cover;
	background-position: 50% 50%;
}
.right {
	width: 260px;
}
.right-top {
	margin-bottom: 10px;
	border-radius: 4px;
	padding: 0 10px;
	height: 40px;
	background-color: rgb(229, 233, 239);
	font-size: 12px;
}
.videos {
	margin-right: 20px;
	background-color: rgb(173, 46, 46);
}
img {
	border-radius: 4px;
}
</style>