<template>
    <div class="vip w1">
        <div class="left h1">
            <c-banner class="test"
                :list="bannerList" />
        </div>
        <ul class="right h1">
            <li v-for="(v, i) in list"
                :key="i"
                class="items">
                <c-small-video :img="v.img"
                    :title="v.title"
                    :up="v.up"
                    :play="v.play" />
            </li>
        </ul>
    </div>
</template>

<script>
import Banner from './comp/Banner.vue'
import imgHui from './img/hui.png'
import imgMiku from './img/miku.png'
import imgTianyi from './img/tianyi.png'
import imgBili from './img/bili.png'
import imgVideo0 from './img/@320w_200h_0.png'
import imgVideo1 from './img/@320w_200h_1.png'
import imgVideo2 from './img/@320w_200h_2.png'
import imgVideo3 from './img/@320w_200h_3.png'
import imgVideo4 from './img/@320w_200h_4.png'
import imgVideo5 from './img/@320w_200h_5.png'
export default {
	name: 'vip',
	components: {
		'c-banner': Banner,
	},
	data() {
		return {
			imgVideo0,
			imgVideo1,
			imgVideo2,
			imgVideo3,
			imgVideo4,
			imgVideo5,
			bannerList: [
				{
					img: imgHui,
					link: '2333',
				},
				{
					img: imgMiku,
					link: '2333',
				},
				{
					img: imgTianyi,
					link: '2333',
				},
				{
					img: imgBili,
					link: '2333',
				},
			],
			list: [
				{
					img: imgVideo0,
					up: 'up主0',
					play: 666,
					title: '标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1标题1',
				},
				{
					img: imgVideo1,
					up: 'up主1',
					play: 123,
					title: '标题12323',
				},
				{
					img: imgVideo2,
					up: 'up主2',
					play: 666,
					title: '标题12323',
				},
				{
					img: imgVideo3,
					up: 'up主3',
					play: 111,
					title: '标题12323',
				},
				{
					img: imgVideo4,
					up: 'up主4',
					play: 555,
					title: '标题12323',
				},
				{
					img: imgVideo5,
					up: 'up主5',
					play: 233,
					title: '标题12323',
				},
			],
		}
	},
	created() {},
	methods: {},
}
</script>

<style scoped>
.vip {
	display: flex;

	height: 220px;
	padding-bottom: 40px;
}
.left {
	/* 这是为啥...这个宽度怎么算出来的 */
	border-radius: 4px;
	width: 440px;
	background-color: rgb(209, 9, 9);
}
.right {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	overflow: hidden;
}
.items {
	margin: 0 0 20px 20px;
	overflow: hidden;
	border-radius: 4px;
	width: 160px;
	height: 100px;
	background-color: rgb(28, 202, 224);
}
.test {
	width: 440px;
	font-size: 20px;
}
</style>