<template>
    <div class="donghua"
        :style="`order:${order}`">
        <c-module title="动画"
            :img="LOGO">
            <div slot="title">有新动态,最新投稿
            </div>
            <ul slot="main">
                这里有一堆160*100的小图 4 * 2
            </ul>
            <div class="right"
                slot="right">
                <div class="right-top fcb">
                    <span>排行</span>
                </div>
                <div>
                    这里一个大图
                </div>
            </div>
        </c-module>
    </div>
</template>

<script>
import Module from '../comp/Module.vue'

import LOGO from '@/asset/logo.png'
export default {
	name: 'donghua',
	components: {
		'c-module': Module,
	},
	props: {
		order: {
			type: Number,
			default: 666,
		},
	},
	data() {
		return {
			LOGO,
		}
	},
	created() {},
	methods: {},
}
</script>

<style scoped>
.donghua {
}
</style>