<template>
    <div class="guochuang"
        :style="`order:${order}`">
        <c-module title="国创"
            :img="LOGO">
            <div slot="title">1234567
                <button>新番时间表</button>
            </div>
            <ul slot="main">
                这里有一堆144*144的小图 3* n
            </ul>
            <div class="right"
                slot="right">
                <div class="right-top fcb">
                    <span>排行:</span>
                    <select name=""
                        id="">

                    </select>
                </div>
                <div>
                    这里一个列表
                </div>
            </div>
        </c-module>
        <c-module title="番剧动态">
            <div slot="title">有新动态,最新投稿
            </div>
            <ul slot="main">
                这里有一堆160*100的小图 4 * 2
            </ul>
            <div class="right"
                slot="right">
                <div class="right-top fcb">
                    <span>特别推荐</span>
                </div>
                <div>
                    这里一个大图
                </div>
            </div>
        </c-module>
    </div>
</template>

<script>
// 国创和番剧貌似结构一样的
import Module from '../comp/Module.vue'

import LOGO from '@/asset/logo.png'
export default {
	name: 'guochuang',
	components: {
		'c-module': Module,
	},
	props: {
		order: {
			type: Number,
			default: 666,
		},
	},
	data() {
		return {
			LOGO,
		}
	},
	created() {},
	methods: {},
}
</script>

<style scoped>
.guochuang {
}
</style>