<template>
    <div class="repeatbox flex">
        <c-slider :list="orders" />
        <c-fanju class="marbott"
            :order="orders[0]" />
        <c-donghua class="marbott"
            :order="orders[1]" />
        <c-guochuang class="marbott"
            :order="orders[2]" />
    </div>
</template>

<script>
export default {
	name: 'repeatbox',
	components: {
		'c-fanju': () => import('./Fanju.vue'),
		'c-donghua': () => import('./Donghua.vue'),
		'c-guochuang': () => import('./Guochuang.vue'),
		'c-slider': () => import('./Slider.vue'),
	},

	data() {
		return {
			// 通过传入order改变竖直次序
			// 侧边栏开始选中获取下标1, 结束获取下标2, 区段内数值+/-1, 被选中的则-/+区段长度
			orders: [2, 1, 3],
		}
	},
	created() {},
	methods: {},
}
</script>

<style scoped>
.repeatbox {
	flex-direction: column;
}

.marbott {
	margin-bottom: 20px;
}
</style>