<template>
    <div class="sliders pos-fx"
        @mousedown="e_dragstart">
        位置检测, 屏幕滚动到顶部的时候在中间, 其他位置置顶
        咋实现的挤开现在位置...放一个空白占位?还真是..有个hold
        怎么给这些小div排序哦...bili的sortindex咋搞的
        <div v-for="v in txtList"
            :key="v"
            class="f22 cur ns w1 t-c tran"
            :style="`order:${v}`"
            v-text="v">1</div>
    </div>
</template>

<script>
export default {
	name: 'sliders',
	props: ['list'],
	data() {
		return {
			iSelected: null, // 被选中的孩子
			timer: null, // 定时器, 开始拖拽的时候开启, 跟随鼠标
			txtList: this.list,
		}
	},
	created() {},
	beforeDestroy() {
		clearInterval(this.timer)
		this.timer = null
	},
	methods: {
		e_dragstart(e) {
			if (e.which !== 1) {
				// 左键1, 右键3, 猜中键是2吧...
				return
			}
			const dom = e.target
			if (!dom.classList.contains('cur')) {
				return // 判断能否拖拽
			}
			// 获取初始位置y, 下标i, min防止越界
			const dy0 = (e.clientY - dom.clientHeight / 2) | 0
			let i0 = (e.clientY / dom.clientHeight) | 0
			i0 = Math.min(i0, this.txtList.length - 1)
			// ipre的作用是储存经过的上一个位置, 每次和当前位置不同, 进行替换
			let ipre = i0
			const my0 = e.screenY
			// 这个组给一个特殊样式, 用户识别用
			dom.classList.add('draging')
			const docue = e => {
				const dy = e.screenY - my0 + dy0
				let i1 = ((e.clientY + dom.clientHeight / 2) / dom.clientHeight) | 0
				i1 = Math.min(i1, this.txtList.length - 1)
				if (ipre !== i1) {
					let vv0 = this.txtList[ipre]
					let vv1 = this.txtList[i1]
					this.$set(this.txtList, ipre, vv1)
					this.$set(this.txtList, i1, vv0)
					ipre = i1
				}
			}
			document.addEventListener('mousemove', docue)
			document.addEventListener('mouseup', () => {
				document.removeEventListener('mousemove', docue)
				dom.classList.remove('draging')
			})
		},
	},
}
</script>

<style scoped>
.sliders {
	z-index: 666;
	top: 0px;
	right: 100px;
	width: 40px;
	height: 60vh;
	background-color: rgb(133, 48, 48);
}
.draging {
	background-color: #fff;
}
</style>
          
         