<template>
    <main>
        menu
        vip
        推广
        重复的版块1234567
        特别推荐
    </main>
</template>

<script>
export default {
	name: 'home',
	components: {},
	data() {
		return {}
	},
	created() {},
	methods: {},
}
</script>

<style scoped>
</style>
