body {
	/* overflow-x: hidden; */
	margin: 0;
	/* font-family: 微软雅黑, 'Avenir', Helvetica, Arial, sans-serif; */
	font-weight: 400;
	font-size: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', 'Hiragino Sans GB', 'Heiti SC',
		'WenQuanYi Micro Hei', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
a {
	color: black;
}
button {
	/* border: 0 solid transparent; */
	outline-width: 0;
	background-color: #fff;
	cursor: pointer;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
input {
	box-sizing: border-box;
	border: 1px solid gray;
}
