body {
	--clr0: rgb(243, 243, 243);
	--wmin: 340px;
	--wmax: 1400px;
}
.a {
	text-decoration: underline;
}

.ani-shadow {
	transition: all 0.3s linear;
}
.ani-shadow:hover {
	transition: all 0.3s linear;
	box-shadow: 0 0 10px gray;
}
.ani-opa-enter-active,
.ani-opa-leave-active {
	transition: all 0.3s linear;
}
.ani-opa-enter,
.ani-opa-leave-to {
	opacity: 0;
	/* transform: translateX(-100%); */
}

.bor-ra {
	border-radius: 4px;
	border: 1px solid gray;
}

/* markdown 样式 */
.md pre {
	border-radius: 4px;
	padding: 10px;
	background-color: lightgray;
}
.md table {
	overflow: hidden;
	border-radius: 4px 4px 0 0;
	border-spacing: 0;
	border-collapse: collapse;
}
.md td {
	border: 1px solid gray;
	padding: 4px;
}
.md thead {
	--theadbg: rgba(214, 214, 214, 0.562);
	border: 1px solid var(--theadbg);
	background-color: var(--theadbg);
}
.md ul {
	list-style-type: square;
	box-sizing: border-box;
	padding-left: 1em;
}
.md > h1,
.md > h2,
.md > h3,
.md > h4,
.md > h5,
.md > h6 {
	margin: 10px 0;
}
.md > p {
	text-indent: 2em;
}

.msg {
	font-size: 18px;
	color: red;
}

.bili-w {
	width: 980px;
}

.bili-svideo {
	display: inline-block;
	border-radius: 4px;
	width: 160px;
	height: 100px;
}
