<template>
    <header class="header pos-re"
        :style="`background-image: url(${IMG});`">
        <div class="white pos-ab" />
        <div class="box pos-re bili-w">
            <c-top />
            <c-search />
        </div>
    </header>
</template>

<script>
import IMG from './head.png'
import Top from './Top.vue'
import Search from './Search.vue'

export default {
	name: 'c-header',
	components: {
		'c-top': Top,
		'c-search': Search,
	},
	data() {
		return {
			IMG,
		}
	},
	created() {},
	methods: {},
}
</script>

<style scoped>
.header {
	/* width: 100vw; */
	z-index: 233;
	height: 180px;
	background-color: rgba(255, 255, 255, 0.4);
	background-position: 50% 50%;
}
.box {
	margin: 0 auto;
	height: 100%;
}
.white {
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.3);
}
</style>