<template>
    <div class="search pos-ab">
        <button class="btn same">排行榜</button>
        <input class="ipt same"
            type="text"
            v-model="userInputed"
            placeholder="小东西长的真别致"
            @focus="e_showhis(true)"
            @blur="e_showhis(false)">
        <ul v-if="showHis"
            class="hisy pos-ab bb">
            <li class="fcc">
                <hr class="full">
                <span>历史搜索</span>
                <hr class="full">
            </li>
            <li v-for="v in list"
                :key="v"
                @mousedown="e_select(v)"
                class="one fcb tran cur">
                <span v-text="v">一条历史记录</span>
                <span class="blue">X</span>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
	name: 'search',
	data() {
		return {
			list: ['bilibili', 'citrus', '炮姐', '终将', '后街女孩', '社会主义核心价值观'],
			showHis: false,
			userInputed: '',
		}
	},
	created() {},
	methods: {
		e_showhis(b) {
			this.showHis = b
		},
		e_select(v) {
			console.log(v)
			this.userInputed = v
		},
	},
}
</script>

<style scoped>
.search {
	right: 0;
	bottom: 20px;
	font-size: 12px;
	--h: 30px;
}
.btn {
	padding: 0 5px;
	color: #f25d8e;
}

.ipt {
	margin-left: 2px;
	width: 200px;
	padding: 10px;
}
.same {
	outline-width: 0;
	border-width: 0;
	border-radius: 4px;
	height: var(--h);
	line-height: var(--h);
	background-color: rgba(255, 255, 255, 0.8);
}
.same:hover {
	background-color: #fff;
}
.hisy {
	bottom: -4px;
	right: 0;
	transform: translateY(100%);
	box-shadow: 0 0 2px lightgray;
	border-radius: 4px;
	width: 200px;
	min-height: 100px;
	padding-bottom: 10px;
	background-color: #fff;
}
.full {
	margin: 0 10px;
	flex-grow: 1;
}
.one {
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
}
.one:hover {
	background-color: rgb(189, 189, 189);
}
.blue {
	padding: 0 0 0 20px;
}
.blue:hover {
	color: #66ccff;
}
</style>