<template>
    <div class="top fcb w1 pos-ab">
        <div class="left flex">
            <c-btn-dialog noDialog="1">
                <button slot="btn"
                    class="btn tran">主站</button>
            </c-btn-dialog>
            <c-btn-dialog>
                <button slot="btn"
                    class="btn tran">画友</button>
            </c-btn-dialog>
            <c-btn-dialog>
                <button slot="btn"
                    class="btn tran">音频</button>
            </c-btn-dialog>
            <c-btn-dialog dialogPosition="left"
                hasDialog='1'>
                <button slot="btn"
                    class="btn tran">游戏中心</button>
                <div slot="dialog"
                    class="small-dialog"></div>
            </c-btn-dialog>
            <c-btn-dialog dialogPosition="left"
                hasDialog='1'>
                <button slot="btn"
                    class="btn tran">直播</button>
                <div slot="dialog"
                    class="small-dialog"></div>
            </c-btn-dialog>
            <c-btn-dialog>
                <button slot="btn"
                    class="btn tran">会员购</button>
            </c-btn-dialog>
        </div>
        <div class="right flex">
            <c-btn-dialog dialogPosition="right"
                hasDialog='1'>
                <button slot="btn"
                    class="btn tran">大会员</button>
                <div slot="dialog"
                    class="small-dialog"></div>
            </c-btn-dialog>
            <c-btn-dialog dialogPosition="right"
                hasDialog='1'>
                <button slot="btn"
                    class="btn tran">消息</button>
                <div slot="dialog"
                    class="small-dialog"></div>
            </c-btn-dialog>

        </div>
    </div>
</template>

<script>
export default {
	name: 'test',
	data() {
		return {}
	},
	created() {},
	methods: {},
}
</script>

<style scoped>
.top {
	z-index: 233;
}
.btn {
	border-width: 0;
	padding: 0 10px;
	height: 40px;
	background-color: transparent;
	line-height: 40px;
	font-size: 12px;
	font-weight: 400;
}
.btn:hover {
	background-color: rgba(255, 255, 255, 0.192);
}
.small-dialog {
	width: 200px;
	height: 200px;
	background-color: rgb(184, 24, 24);
}
</style>