<template>
    <div class="pos-re"
        @mouseover="e_show_hidd(true)"
        @mouseleave="e_show_hidd(false)">
        <slot name="btn" />
        <transition name="dialog">
            <div v-if="showDialog"
                class="dialog pos-ab bb"
                :class="classPos">
                <slot name="dialog" />
            </div>
        </transition>
    </div>
</template>

<script>
export default {
	// 这个组件默认是block的, 所以一行要用flex包裹, 当然也可以直接设置组件class:il-bk
	// 有两个slot, btn总是显示, dialog需要鼠标控制
	name: 'btn-dialog',
	props: {
		dialogPosition: {
			// 小弹窗的位置, left, center, right
			type: String,
			default: 'center',
		},
		hasDialog: {
			// 如果设置了此项, 始终不显示小弹窗, 字符串方便写组件
			type: String,
			default: '',
		},
	},
	data() {
		return {
			// 是否显示小弹窗
			showDialog: false,
		}
	},
	computed: {
		classPos() {
			// 计算小弹窗的class
			return 'dialog-' + this.dialogPosition
		},
	},
	methods: {
		e_show_hidd(b) {
			if (this.hasDialog === '') {
				return
			}
			// 鼠标的移入移出, 改变小弹窗显示状态
			this.showDialog = b
		},
	},
}
</script>

<style scoped>
.dialog {
	top: 40px;
	border-radius: 0 0 4px 4px;
	border-top-width: 0;
	padding: 10px;
	background-color: #fff;
}
.dialog-enter-active,
.dialog-leave-active {
	transition: all 0.4s;
}
.dialog-enter,
.dialog-leave-to {
	opacity: 0;
	top: 48px;
	/* transform: translateX(-100%); */
}
.dialog-left {
	left: 0;
}
.dialog-center {
	left: 50%;
	transform: translateX(-50%);
}
.dialog-right {
	right: 0;
}
</style>