<template>
    <div class="all">
        <div class="box pos-re cur"
            @mouseover="e_show_infor(true)"
            @mouseleave="e_show_infor(false)"
            :style="`background-image: url(${img});`">
            <div :class="showInfor?'infor-black2':'infor-black1'"
                class="pos-ab w1 h1">
            </div>
            <transition name="bott">
                <div v-if="showInfor"
                    class="infor-bott pos-ab">
                    <p v-if="up"
                        class="infor-up">
                        <span>up主: </span>
                        <span v-text="up"></span>
                    </p>
                    <p v-if="play"
                        class="infor-play">
                        <span>播放: </span>
                        <span v-text="play"></span>
                    </p>
                    <p v-if="time"
                        class="infor-time"
                        v-text="time"></p>
                </div>
            </transition>
            <p class="infor-title pos-ab"
                :class="showInfor?'infor-title2':'infor-title1'"
                v-text="title"></p>
            <img v-if="showInfor"
                class="img-wait pos-ab"
                title="稍后再看"
                :src="imgWait"
                alt="稍后再看">

        </div>
        <div v-if="out||title2"
            class="out">
            <p class="out-title"
                v-text="title2"></p>
        </div>
    </div>
</template>

<script>
// 组件以all嵌套box(图片160*100)和txt(文字)
// box内的信息相对独立, 单独控制
import imgWait from '@/asset/logo.png'
// 一个视频的小预览图
export default {
	name: 'test',
	props: {
		img: {
			type: String,
		},
		play: {
			// 播放数量
			type: [String, Number],
		},
		up: {
			// up主
			type: String,
		},
		title: {
			// 标题
			type: String,
		},
		title2: {
			// 标题在额外部分显示的标题
			type: String,
		},
		out: {
			// 额外内容, 有这个将会显示图片外文字
			type: [Boolean, String],
		},
		time: {
			// 视频时长
			type: String,
		},
	},
	data() {
		return {
			imgWait, // 稍后观看图标
			showInfor: false, // 显示信息, 此时鼠标悬停
		}
	},
	created() {},
	methods: {
		e_show_infor(b) {
			// 切换是否显示信息
			this.showInfor = b
		},
	},
}
</script>

<style scoped>
.box {
	overflow: hidden;
	border-radius: 4px;
	width: 160px;
	height: 100px;
	background-size: 100% 100%;
}
.infor-black1 {
	background-image: linear-gradient(rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0.4));
}
.infor-black2 {
	background-color: rgba(0, 0, 0, 0.582);
}
.infor-title {
	overflow: hidden;
	left: 4px;
	line-height: 16px;
	font-size: 12px;
	font-weight: 700;
	color: white;
	text-shadow: 0 0 1px black;
}
.infor-title1 {
	bottom: 10px;
	height: 16px;
}
.infor-title2 {
	top: 10px;
	height: 32px;
}
.infor-bott {
	bottom: 10px;
	left: 4px;
	font-size: 12px;
	color: #99a2aa;
}
.bott-enter-active,
.bott-leave-active {
	transition: all 0.4s;
}
.bott-enter,
.bott-leave-to {
	opacity: 0;
}
.img-wait {
	bottom: 10px;
	right: 10px;
	height: 14px;
}
.out {
	overflow: hidden;
	height: 48px;
}
.out-title {
	margin-top: 8px;
	height: 40px;
	line-height: 20px;
	font-size: 12px;
}
.infor-time {
	color: white;
}
</style>