<template>
    <div id="app">
        <c-header />
        <router-view />
        侧边栏
        <c-footer />
    </div>
</template>

<script>
import Header from './component/common/header/Index.vue'
import Footer from './component/common/Footer.vue'
export default {
	components: {
		'c-header': Header,
		'c-footer': Footer,
	},
	mounted() {},
}
</script>
