<template>
    <div class="banner pos-re">
        <ul class="point-box fcc pos-ab"
            @click="e_user_select">
            <li v-for="(v, i) in list"
                :key="i"
                class="points">
                <img v-if="i===iShow"
                    class="w1 h1"
                    :src="IMG">
                <div v-else
                    class="ball cur"
                    :data-i="i" />
            </li>
        </ul>
        <div v-for="(v, i) in list"
            :key="i"
            :class="{left:i<iShow,center:i===iShow,right:iShow<i}"
            class="items fcc pos-ab tran"
            :style="`background-image: url(${v.img})`"></div>
        <a class="btn pos-ab w1 h1"
            @click="e_go_"></a>

    </div>
</template>

<script>
import IMG from '@/asset/logo.png'
export default {
	name: 'banner',
	props: ['list'],
	data() {
		return {
			IMG,
			iShow: 0,
			// list: [0, 1, 2, 3, 4],
			timer: null,
		}
	},
	mounted() {
		this.autoChange()
	},
	beforeDestroy() {
		clearInterval(this.timer)
		this.timer = null
	},
	methods: {
		autoChange() {
			// 自动切换
			this.timer = setInterval(() => {
				const i = (this.iShow + 1) % this.list.length
				this.showSelected(i)
			}, 3000)
		},
		showSelected(i) {
			// 改变正在显示的块
			this.iShow = i
		},
		e_user_select(e) {
			let i = e.target.dataset.i
			if (i === undefined) {
				return
			}
			i = Number(i)
			// 防止点击后立即进行自动切换
			clearInterval(this.timer)
			this.showSelected(i)
			this.autoChange()
		},
		e_go_() {
			alert(12)
		},
	},
}
</script>

<style scoped>
.banner {
	overflow: hidden;

	border-radius: 4px;
	height: 100%;
}
.items {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 36px;
}
/* .items:nth-of-type(2n) {
	background-color: rgb(22, 134, 209);
}
.items:nth-of-type(2n + 1) {
	background-color: rgb(209, 22, 131);
} */
.left {
	z-index: 0;
	transform: translateX(-100%);
}
.center {
	z-index: 5;
	transform: translateX(0%);
}
.right {
	z-index: 0;
	transform: translateX(100%);
}
.point-box {
	z-index: 10;
	bottom: 16px;
	right: 20px;
}
.points {
	width: 18px;
	height: 18px;
}
.ball {
	z-index: 15;
	margin: 4px;
	box-shadow: 0 0 2px rgb(104, 104, 104);
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background-color: #fff;
}
.ball:hover {
	margin: 2px;
	border: 2px solid #fff;
	background-color: #66ccff;
}
.btn {
	z-index: 5;
	display: inline-block;
	top: 0;
	left: 0;
	background-image: linear-gradient(rgba(255, 255, 255, 0) 70%, rgba(0, 0, 0, 0.425));
}
</style>