<template>
    <div class="modules flex w1">
        <div class="left">
            <div class="title">
                <div class="h1">
                    <img class="logo-img"
                        :src="img">
                </div>
                <p class="title-txt cur tran"
                    v-text="title"></p>
                <slot name="title" />
            </div>
            <div class="main">
                <slot name="main" />
            </div>
        </div>
        <div class="right">
            <slot name="right" />
        </div>
    </div>
</template>

<script>
export default {
	name: 'modules',
	props: {
		title: String,
		img: String,
	},
	data() {
		return {}
	},
	created() {},
	methods: {},
}
</script>

<style scoped>
.modules {
	justify-content: space-between;
	font-size: 22px;
}
.title {
	display: flex;
	margin-bottom: 10px;
	height: 40px;
	align-items: center;
}
.title-txt:hover {
	color: #66ccff;
}
.logo-img {
	height: 100%;
}
.right {
	width: 260px;
}
</style>